@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --wrapper-padding: 23px;
    --hover-color-link: #35353581;
    --text-color-main: #353535;
    --fs-sm: clamp(0.795rem, 0.093vi + 0.773rem, 0.847rem);
    --fs-base: clamp(0.875rem, 0.225vi + 0.82rem, 1rem);
    --fs-lg: clamp(0.963rem, 0.391vi + 0.867rem, 1.18rem);
    --fs-6: clamp(1.059rem, 0.6vi + 0.913rem, 1.392rem);
    --fs-5: clamp(1.165rem, 0.86vi + 0.955rem, 1.643rem);
    --fs-4: clamp(1.281rem, 1.182vi + 0.993rem, 1.939rem);
    --fs-3: clamp(1.409rem, 1.579vi + 1.024rem, 2.288rem);
    --fs-2: clamp(1.55rem, 1.866vi + 1.046rem, 2.4rem);
    --fs-1: clamp(1.705rem, 2.261vi + 1.056rem, 2.6rem);
  }

  input {
    box-shadow: none !important;
  }

  html {
    /* @apply font-poppins; */
    @apply scroll-smooth;
    @apply bg-theme-bg;
    font-family: var(--font-poppins);
    color: var(--text-color-main);
    box-sizing: border-box;
  }
  /* body[data-scroll-locked] {
    padding-left: 1.25rem !important ;
    padding-right: 1.25rem !important ;
  } */
  details summary::-webkit-details-marker,
  details summary::marker {
    display: none;
    content: '';
  }
  details[open] > summary::marker {
    display: none;
    content: '';
  }
  #elementScroll {
    direction: ltr;
  }

  .hoverLink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; /* Start with a width of 0 */
    height: 2px; /* Border thickness */
    background-color: var(--hover-color-link); /* Border color */
    transition: width 0.3s ease; /* Smooth transition for the width change */
  }

  @keyframes slide {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  /* Apply the animation to the border */
  .hoverLink:hover::after {
    animation: slide 0.5s forwards;
  }

  .activeLink {
    border-bottom: var(--hover-color-link) solid 2px; /* Border color */
  }

  body:has(.buttonOverlay[data-state='open']) {
    overflow: hidden;
  }
}

/* global.css */
html {
  font-family: var(--font-poppins);
}

@layer components {
  .boxShadow {
    box-shadow: 0px 5px 10px 0px #7373734a;
  }
  .button {
    @apply rounded bg-blue-500 text-white;
  }
  .scrollbar::-webkit-scrollbar {
    width: 1em;
    height: 1em;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: rgb(96 93 236);
    border-radius: 100vw;
    margin-block: 0.5em;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: white;
    border: 0.25em solid rgb(96 93 236);
    border-radius: 100vw;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: hsl(120 100% 10% / 1);
  }

  .skeleton {
    background-color: #e2e5e7;
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0)
    );
    background-size: 40px 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
    animation: shine 1.5s ease-out infinite;
  }
  @keyframes shine {
    100% {
      background-position: right -40px top 0;
    }
  }
}

@layer utilities {
  /* Act as a border */
  .animationWrapper {
    @apply relative flex items-center justify-center overflow-hidden rounded-full;
  }
  .animationContent {
    @apply relative z-[60] m-[3px] rounded-full  p-[4px];
  }
  /* Gradient */
  .animationLine::before {
    background: conic-gradient(
      rgba(1, 1, 1, 1) 0deg,
      rgba(1, 1, 2, 1) 0deg,
      transparent 120deg
    );
    @apply absolute left-0 top-[-50%] -z-10 h-[100%] w-[100%] origin-bottom animate-borderSpin content-[''];
  }

  /* Body */
}
