.addFileSVG {
  @apply bg-blue-500;
}

.addFileSVG .rect {
  transform-origin: center;
  transition:
    transform 300ms ease-in,
    rotate 300ms ease-in,
    border-radius 300ms ease-in,
    background-color 300ms ease-in,
    width 300ms ease-in 150ms;
}

.addFileSVG[data-state='valid'] {
  @apply bg-green-200 fill-black;
}
.addFileSVG[data-state='valid'] .rect {
  transition:
    transform 300ms ease-in,
    rotate 300ms ease-in,
    border-radius 300ms ease-in,
    background-color 300ms ease-in,
    width 300ms ease-in;

  rotate: 45deg;
}
.addFileSVG[data-state='valid'] {
  border-radius: 9999px;
}
.addFileSVG[data-state='valid'] .horizontal {
  transform: translate(15px, 15px);
  width: 40px;
}
.addFileSVG[data-state='valid'] .vertical {
  transform: translate(11px, -20px);
}
