@tailwind base;
@tailwind components;
@tailwind utilities;

#calendar {
  width: 100%;
  /* height: 800px; */
  max-height: 90vh;
}

.sx__calendar {
  border: none !important;
  background: none !important;
}
.sx__calendar-header {
  @apply mb-2;
  border: 1px black solid;
  border-radius: 10px;
  background-color: #fff;
}
.sx__range-heading {
  text-transform: capitalize;
}

.sx__view-container {
  border: 1px black solid;
  border-radius: 10px;
  background-color: #fff;
  max-height: 700px;
  overflow: scroll;
}

.sx__month-grid-day {
  height: 100px;
}
.sx__month-grid-day:hover {
  cursor: pointer;
}
.sx__month-agenda-day {
  @apply hover:cursor-pointer;
}

.sx__date-input {
  border-color: black !important;
}

.sx__view-selection-selected-item {
  border-color: black !important;
  /* display: none; */
}
.sx__today-button {
  border-color: black !important;
}

.sx__date-input {
  @apply h-[47px] border-r-4 border-black;
  border-color: black !important;
  height: 47px !important;
  border-radius: 4px !important;
}

.sx__time-grid-day--is-not-work-day {
  @apply z-[1] bg-gray-100;
}

.sx__month-grid-day--is-not-work-day {
  @apply bg-gray-100;
}

.sx__month-agenda-day--is-not-work-day {
  @apply bg-gray-100;
}
